.accordion {
  --icon-size: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5ex;
}

.accordion-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 4px;
  border: 2px solid rgb(var(--smidgen-text-color));
  padding: 2ex 3ch;
}

.accordion-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  text-transform: capitalize;
  padding: 0;
  color: rgb(var(--smidgen-text-color));
  background: none;
  border: none;
  width: 100%;
}

.accordion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-self: flex-end;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: rgb(var(--smidgen-text-color));
  border-radius: 50%;
}

.accordion-icon:hover {
  cursor: pointer;
}

.accordion-icon-shown::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 10%;
  background-color: rgb(var(--smidgen-text-color));
  filter: invert(1);
  transform: translate(-50%, -50%);
}

.accordion-icon-hidden::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 10%;
  background-color: rgb(var(--smidgen-text-color));
  filter: invert(1);
  transform: translate(-50%, -50%);
}

.accordion-icon-hidden::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10%;
  height: 60%;
  background-color: rgb(var(--smidgen-text-color));
  filter: invert(1);
  transform: translate(-50%, -50%);
}


.accordion-body {
  transition: opacity 150ms ease, font-size 150ms ease;
  color: rgb(var(--smidgen-text-color));
}


.hidden {
  font-size: 0;
  opacity: 0;
}

.accordion-body p {
  padding-bottom: 2ex;
}