/* Buttons */

/* Button Group */
button {
  height: 60px;
}

.button-group-container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  max-width: 10%;
}

.button-group-button {
  transition: 150ms ease;
  background-color: rgba(var(--smidgen-base-gray), 0.5);
  border: none;
  color: rgb(var(--smidgen-base-black));
  padding: 10px 15px;
}

.button-group-button:first-of-type {
  border-radius: 5px 0 0 5px;
}

.button-group-button:last-of-type {
  border-radius: 0 5px 5px 0;
}

.button-group-button:only-of-type {
  border-radius: 5px;
}

.button-group-button:hover,
.button-group-button:focus {
  color: rgb(var(--smidgen-base-white));
  background-color: rgb(var(--smidgen-base-tertiary));

}

/* Primary Button */

.button-primary {
  transition: 150ms ease;
  color: rgb(var(--smidgen-base-secondary));
  border: 2.5px rgb(var(--smidgen-base-secondary)) solid;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
}

.button-primary:hover,
.button-primary:focus {
  background-color: rgba(var(--smidgen-base-secondary), 0.2);

}

.button-primary:focus {
  border-style: double;
  border-width: 4px;
}

.button-primary:disabled {
  background-color: rgba(var(--smidgen-base-secondary), 0.2);
  opacity: 0.6;
}

/* Tertiary Button */
.button-tertiary {
  transition: 150ms ease;
  color: rgb(var(--smidgen-base-tertiary));
  border: 2.5px rgb(var(--smidgen-base-tertiary)) solid;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
}

.button-tertiary:hover,
.button-tertiary:focus {
  background-color: rgba(var(--smidgen-base-tertiary), 0.2);
}

.button-tertiary:focus {
  border-style: double;
  border-width: 4px;
}

.button-tertiary:disabled {
  background-color: rgba(var(--smidgen-base-tertiary), 0.2);
  opacity: 0.6;
}

/* Info Button */
.button-info {
  transition: 150ms ease;
  color: rgb(var(--smidgen-base-gray));
  border: 2.5px rgb(var(--smidgen-base-gray)) solid;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
}

.button-info:hover,
.button-info:focus {
  background-color: rgba(var(--smidgen-base-gray), 0.2);

}

.button-info:focus {
  border-style: double;
  border-width: 4px;
}

.button-info:disabled {
  background-color: rgba(var(--smidgen-base-gray), 0.2);
  opacity: 0.6;
}

/* Destructive Button */
.button-destructive {
  transition: 150ms ease;
  color: rgb(var(--smidgen-base-error));
  border: 2.5px rgb(var(--smidgen-base-error)) solid;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
}

.button-destructive:hover,
.button-destructive:focus {
  background-color: rgba(var(--smidgen-base-error), 0.2);

}

.button-destructive:focus {
  border-style: double;
  border-width: 4px;
}

.button-destructive:disabled {
  background-color: rgba(var(--smidgen-base-error), 0.2);
  opacity: 0.6;
}

/* Form Elements */
.inline-label {
  display: grid;
  grid-template-columns: 1.15em auto;
  gap: 0.3em;
}

/* Radio */
input[type="radio"] {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);

  font: inherit;
  color: rgb(var(--smidgen-base-tertiary));
  border: 0.15em solid rgb(var(--smidgen-base-tertiary));
  border-radius: 50%;
  transform: translateY(-0.075em);

}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(var(--smidgen-base-tertiary));
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid rgb(var(--smidgen-base-tertiary));
  outline-offset: max(2px, 0.15em);
}

/* Checkbox */
.checkbox {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  display: grid;
  align-items: center;
  justify-items: center;

  background-color: var(--form-background);
  color: rgb(var(--smidgen-base-tertiary));
  border: 0.15em solid rgb(var(--smidgen-base-tertiary));
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border-radius: 5px;
  transform: translateY(-0.075em);
}

.checkbox::before {
  content: "✔";
  color: rgb(var(--smidgen-base-white));
  width: 1.15em;
  height: 1.15em;
  margin: -1px;
  border-radius: 5px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: rgb(var(--smidgen-base-tertiary));
}

.checkbox:checked::before {
  transform: scale(1);
}

.checkbox:focus {
  outline: max(2px, 0.15em) solid rgb(var(--smidgen-base-tertiary));
  outline-offset: max(2px, 0.15em);
}

/* Toggle */

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  width: 62px;
  height: 32px;
  background-color: rgb(var(--smidgen-base-gray));
  transition: background-color ease 0.3s;
}

.toggle::before {
  content: "";
  display: block;
  position: absolute;
  transition: all ease 150ms;
  width: 25px;
  height: 25px;
  background: rgb(var(--smidgen-base-white));
  left: 4px;
  top: 4px;
  border-radius: 50%;
}

.toggle:checked {
  background-color: rgb(var(--smidgen-base-success));
}

.toggle:checked:before {
  left: 32px;
}


/* Text Input */
.text-input-container {
  display: grid;
  grid-template-rows: 1.7em 3em 1em;
  gap: 10px;
  max-width: 65.7ch;
}

.text-input-label {
  text-align: left;
}

.text-input {
  transition: ease 150ms;
  border: 2px solid;
  border-radius: 5px;
  color: rgb(var(--smidgen-base-secondary))
}

.text-input::placeholder {
  color: rgba(var(--smidgen-base-secondary), 0.8);
}

.text-input-subtitle {
  font-size: 0.9em;
  color: rgba(var(--smidgen-text-color), 0.3);
}

.text-input:hover,
.text-input:focus {
  border-width: 3px;
}

.text-input:disabled {
  border-color: rgba(var(--smidgen-base-gray), 0.2);
}

.loading,
.loading::placeholder,
.loading:focus,
.loading:hover {
  color: rgb(var(--smidgen-base-primary));
  border-color: rgb(var(--smidgen-base-primary));
}

.warning,
.warning::placeholder,
.warning:focus,
.warning:hover {
  color: rgb(var(--smidgen-base-warning));
  border-color: rgb(var(--smidgen-base-warning));
}

.error,
.error::placeholder,
.error:focus,
.error:hover {
  color: rgb(var(--smidgen-base-error));
  border-color: rgb(var(--smidgen-base-error));
}

.foot-loading {
  border-radius: 3px 0 0 3px;
  position: absolute;
  margin-top: 38px;
  width: 48px;
  height: 48px;
  background-color: rgb(var(--smidgen-base-primary));
}

.foot-warning {
  border-radius: 3px 0 0 3px;
  position: absolute;
  margin-top: 38px;
  width: 48px;
  height: 48px;
  background-color: rgb(var(--smidgen-base-warning));
}

.foot-error {
  border-radius: 3px 0 0 3px;
  position: absolute;
  margin-top: 38px;
  width: 48px;
  height: 48px;
  background-color: rgb(var(--smidgen-base-error));
}

.icon-right {
  border-radius: 0 3px 3px 0;
  max-width: 64.2ch;
  margin-left: 64.2ch;
}

/* select */
select {
  appearance: none;
  padding: 0.5ch 3ch 0.5ch 0;
  appearance: none;

  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

select::before,
select::after {}