.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feature-image,
.feature-grid-left {
  width: 500px;
}

.feature-grid-right {
  display: flex;
  flex-direction: column;
  gap: 2ex;
}

.feature-list {
  list-style: inside disc;
  padding-top: 1.2ex;
}

@media only screen and (max-width: 768px) {
  .feature-container {
    flex-direction: column;
    gap: 100px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5ex;
  }

  .feature-image,
  .feature-grid-left {
    width: 40vmax;
  }
}