.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15ex;
}

.feature {
  display: grid;
  grid-template-columns: auto;
}

.feature-image,
.feature-grid-left {
  grid-row: 1;
  width: 500px;
  margin: 0 1.5ch;
}

.feature-right {
  grid-column: 2;
}

.feature-grid-right {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 2ex;
}

.feature-list {
  list-style: inside disc;
  padding-top: 1.2ex;
}

.no-image {
  width: 65%;
  margin: auto;
}

.no-image p,
.no-image h2{
  word-wrap: break-word;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .feature-container {
    flex-direction: column;
    gap: 100px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5ex;
  }

  .feature-image,
  .feature-grid-left {
    width: 40vmax;
  }
}