.footer-container {
  display: flex;
  flex-direction: row;
  border-top: 1px black solid;
  justify-content: space-around;
  margin: 10ex 0 2ex;
  padding-top: 5ex;
  width: 100%;

}

.footer-left {
  display: flex;
  flex-direction: row;
  gap: 5ch;
  width: 60%;
}

.footer-cta {
  text-align: left;
}

.subcontainer-left {}

.subcontainer-right {}

.footer-right {
  width: 30%;
}

.footer-links {
  list-style: none;
}

.footer-link {
  display: inline-block;
  padding: 1ch;
}
.footer-credits {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}