.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5ex;
  padding-bottom: 3ex;
  width: 100%;
  background-color: rgb(30, 30, 50);
  border-top: 1px rgb(var(--smidgen-text-color)) solid;
}

.footer-container p,
.footer-container h1 {
  color: rgb(var(--smidgen-base-white));
}

.footer-left {
  display: flex;
  flex-direction: row;
  gap: 5ch;
  width: 60%;
}

.footer-cta {
  text-align: left;
  color: rgb(var(--smidgen-base-white));
}

.subcontainer-left {}

.subcontainer-right {}

.footer-right {
  width: 30%;
}

.footer-links {
  list-style: none;
}

.footer-link {
  display: inline-block;
  padding: 1ch;
}

.footer-link a {
  color: rgb(var(--smidgen-base-secondary));
}

.footer-credits {
  border-top: 2.5px solid rgb(153, 93, 206);
  margin-top: 20px;
  padding-top: 15px;
  width: 63%;
  text-align: center;
  color: rgb(var(--smidgen-base-white));
}

@media only screen and (max-width: 1000px) {

  .footer-container,
  .footer-cta {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left {
    flex-direction: column;
  }

  .footer-right {
    width: 50%;
  }

}