.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 5ex;
  padding-bottom: 3ex;
  width: 100%;
  background-color: rgb(30, 30, 50);
  border-top: 1px rgb(var(--smidgen-text-color)) solid;
}

.footer-container p,
.footer-container h1 {
  color: rgb(var(--smidgen-base-white));
}

.footer-left {
  display: flex;
  flex-direction: row;
  gap: 3ch;
  width: 50%;
}

.footer-right {
  margin-left: 3ch;
}


.footer-cta {
  text-align: left;
  color: rgb(var(--smidgen-base-white));
}

.footer-links {
  list-style: none;
}

.footer-link {
  display: inline-block;
  line-height: 4ex;
  padding: 0 1ch;
}

.footer-link a {
  color: rgb(var(--smidgen-base-white));
}

.footer-credits {
  border-top: 2.5px solid rgb(179, 123, 228);
  margin-top: 20px;
  padding-top: 15px;
  width: 60%;
  text-align: center;
  color: rgb(var(--smidgen-base-white));
}

.footer-credits a {
  color: rgb(var(--smidgen-base-primary ));
}

@media only screen and (max-width: 1000px) {

  .footer-container,
  .footer-cta {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left {
    flex-direction: column;
  }

  .footer-right {
    width: 50%;
  }

}