@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400&display=swap');


:root {
  --smidgen-base-primary: 153, 178, 221;
  --smidgen-base-secondary: 75, 41, 107;
  --smidgen-base-tertiary: 2, 93, 105;

  --smidgen-base-success: 143, 194, 125;
  --smidgen-base-warning: 226, 222, 124;
  --smidgen-base-error: 226, 124, 124;

  --smidgen-base-gray: 170, 170, 170;
  --smidgen-base-white: 255, 255, 255;
  --smidgen-background-color: 255, 255, 255;
  --smidgen-modal-background-color: 220, 220, 220;
  --smidgen-text-color: 0, 0, 0;
  --smidgen-base-black: 0, 0, 0;
}


@media (prefers-color-scheme: dark) {
  :root {
    --smidgen-base-secondary: 153, 93, 206;
    --smidgen-base-tertiary: 55, 189, 208;

    --smidgen-base-success: 143, 194, 125;
    --smidgen-base-warning: 255, 204, 102;
    --smidgen-base-error: 255, 102, 102;

    --smidgen-base-gray: 190, 190, 190;
    --smidgen-modal-background-color: 75, 75, 75;
    --smidgen-background-color: 0, 0, 0;
    --smidgen-text-color: 255, 255, 255;
  }
}

body {
  background-color: rgb(var(--smidgen-background-color));
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(var(--smidgen-text-color));
}

p,
span,
a,
li,
blockquote,
td,
label {
  color: rgb(var(--smidgen-text-color));
  line-height: 1.5em;
}

.dev-outline {
  border: 3px red solid;
}

.hide {
  display: none;
}

button:not(:disabled):hover,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

.content {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  width: 50%;
  margin: auto;
}