.hero {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: center;
}

.grid-left {
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
}

.grid-right {
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
}

.hero-header {
  font-size: 3em;
  letter-spacing: 2px;
  padding-bottom: 0.4em;
}

.hero-text {
  font-size: 1.2em;
  width: 50vmin;
  text-align: center;
  padding-bottom: 1em;
}

.hero-button {
  width: 14ch;
  margin: auto;
  flex-basis: 0;
}

.browser-container {
  margin-top: 10%;
  transform: translateX(15vmax) scale(1.2);
}

@media only screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .browser-container {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    transform: scale(1);
  }
}