.modal-area {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  transition: transform 150ms ease;
  transform: scale(1);
}

.closed {
  transform: scale(0);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  padding: 2em;
  background-color: rgb(var(--smidgen-modal-background-color));
  border-radius: 7px;
  transform: translateX(-50%) translateY(-50%);
}

.modal-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5em;
  font-weight: 600;
  background-color: transparent;
  border: none;
  transition: color 150ms ease;
}

.modal-close-button:hover {
  color: white;
  cursor: pointer;
}

.modal-header {
  padding-bottom: 0.3em;
}

.modal-background-nonvisible {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal-content {}

.modal-text {}