header {
  position: sticky;
  top: 0;
  z-index: 999999;
  margin-bottom: 5ex;
}

.header-container {
  background-color: rgb(var(--smidgen-base-white));
  display: flex;
  min-height: 150px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(var(--smidgen-base-black), 0.3);
  padding: 0 5ch;
}

.header-section:nth-child(2) {
  order: 1;
}

.header-section:nth-child(3) {
  order: 0;
}

.header-section:nth-child(4) {
  display: flex;
  order: 2;
  gap: 3ch;
}

.darkmode-toggle {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-links {
  display: flex;
  gap: 2ch;
}

.header-link {
  text-transform: uppercase;
  transition: 150ms ease;
  font-weight: 400;
  color: rgb(var(--smidgen-base-primary));
}

.header-link:hover {
  color: rgb(var(--smidgen-base-tertiary));
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  color: rgb(var(--smidgen-base-black));
  font-size: 2em;
  border: none;
  background: transparent;
}

.nav-hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5ex;
  }

  /* Logo */
  .header-section:nth-child(2) {
    order: 0;
  }

  .header-section img {
    margin-top: 3vmin;
  }

  .darkmode-toggle {
    display: none;
  }

  .header-section:last-of-type {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .header-container {
    padding-bottom: 3ex;
  }
    .header-links {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 2ch;
    }

  .header-section:nth-child(2) {
    order: 0;
  }

  .hamburger-menu {
    display: inline;
    order: 1;
  }

  .header-section:nth-child(3) {
    order: 1;
  }

  .header-section:nth-child(4) {
    display: flex;
    order: 3;
    gap: 3ch;
  }
}